@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  
  nb-card-footer {
    padding-bottom: 0.25rem;

    button {
      @include nb-ltr(margin, 0 1rem 1rem 0);
      @include nb-rtl(margin, 0 0 1rem 1rem);
    }
  }

  /* stylelint-disable */
  toaster-container /deep/ {
    #toast-container .toast-close-button {
      right: 0;
    }
  }

  button + button {
    margin-left: 2rem;
  }

  @include media-breakpoint-down(xxl) {
    nb-card-body {
      display: flex;
    }

    button {
      flex: 1;
      padding: 0.8rem;
    }
  }

  @include media-breakpoint-down(is) {
    nb-card-body {
      display: block;
    }

    button {
      + button {
        margin-left: 0;
      }

      width: 100%;
      display: block;
      margin-bottom: 2rem;
      padding: 0.75rem;
    
    }

    .dropdown-toggle {
      font-size: 0.75rem;
    }
  }
}