<h1>Holistic View of Model</h1>
<div class="row">
	<div class="col-md-6">
		<nb-card>
			<nb-card-body>
				<iframe  id="lda-iframe"  frameborder="0" width="780" height="669" ></iframe>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-md-6">
		<nb-card>
			<nb-card-header>
				<div class="form-group">
					<h3>View Models</h3>
					<select [ngModel]="selectedModel" class="form-control" (change)="modelSelectChanged($event.target.value)">
						<option *ngFor="let m of models">{{m.ModelName}}</option>
					</select>
				</div>
			</nb-card-header>
			<nb-card-body>
				<h3>Model Parameters: </h3>
				<p>Number of topics: {{hyperparameters.num_of_topics}}</p>
				<p>Number of features: {{hyperparameters.num_features}}</p>
				<p>Number of top words: {{ hyperparameters.num_top_words }}</p>
			</nb-card-body>
		</nb-card>
	</div>
</div>
<nb-card size="small">
	<nb-card-header>
		List of Documents
	</nb-card-header>
	<nb-card-body>
		<nb-list>
			<nb-list-item *ngFor="let item of items">{{ item }}</nb-list-item>
		</nb-list>
	</nb-card-body>
	<nb-card-footer>
		<input type="text" nbInput fullWidth status="info" placeholder="Search documents">
		<br>
		<br>
		<button nbButton status="success">Add Document</button>
		<button nbButton status="danger">Delete Document</button>
	</nb-card-footer>
</nb-card>