<h1>Holistic View of Model</h1>
<div class="row">
	<div class="col-md-9">
		<nb-card>
			<nb-card-body>
				<div class="embed-responsive embed-responsive-1by1">
					<iframe  id="lda-iframe" class="embed-responsive-item" allowfullscreen scrolling="auto"></iframe>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-md-3">
		<nb-card>
			<nb-card-header>
				<div class="form-group">
					<h3>View Models</h3>
					<select [ngModel]="selectedModel" class="form-control" (change)="modelSelectChanged($event.target.value)">
						<option *ngFor="let m of models">{{m.ModelName}}</option>
					</select>
				</div>
			</nb-card-header>
			<nb-card-body>
				<div *ngIf="!isModelGS;else displayGS">
					<h3>Model Parameters: </h3>
					<p>Number of topics: 	{{hyperparameters.numTopics}}</p>
					<p>Number of features: 	{{hyperparameters.numFeatures}}</p>
					<p>Number of top words: {{ hyperparameters.numTopWords}}</p>
				</div>
				<ng-template #displayGS>
					<h3>Model Parameters: </h3>
					<p>Number of topics:	{{hyperparameters.numTopics}}</p>
					<p>Log likelihood: 		{{hyperparameters.logLiklihood}}</p>
					<p>Learning decay: 		{{hyperparameters.learningDecay}}</p>
					<p>Perplexity: 			{{hyperparameters.perplexity}}</p>
				</ng-template>
			</nb-card-body>
		</nb-card>
		<nb-card>
			<nb-card-header>
				<h3>Topics</h3>
			</nb-card-header>
			<nb-card-body>
				<nb-list>
					<nb-list-item *ngFor="let topic of hyperparameters.topics; let i = index; trackBy:customTrackBy">
						topic {{i+1}}: <input nbInput type="text" [(ngModel)]="hyperparameters.topics[i]" fieldSize="small" status="info">
					</nb-list-item>
				</nb-list>
			</nb-card-body>
			<nb-card-footer>
				<button nbButton size="small" status="success" (click)="saveTopics()">Save</button>
			</nb-card-footer>
		</nb-card>
	</div>
</div>
<nb-card size="small">
	<nb-card-header>
		List of Documents
	</nb-card-header>
	<nb-card-body>
		<nb-list>
			<nb-list-item *ngFor="let d of hyperparameters.trainingDocuments">{{ d }}</nb-list-item>
		</nb-list>
	</nb-card-body>
	<nb-card-footer>
		<input type="text" nbInput fullWidth status="info" placeholder="Search documents">
		<br>
		<br>
	</nb-card-footer>
</nb-card>